.StartBtn{
    margin: 0;
    position: absolute;
    top: 83%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #444 !important;
    text-transform: uppercase;
    background: #ffffff;
    padding: 20px;
    border: 4px solid #444 !important;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
}

.StartBtn:hover{
  color: #111 !important;
  border-radius: 50px;
  border-color: #111 !important;
  transition: all 0.3s ease 0s;
}

p {
  text-align: left;
  position: relative;
  top: 50px;
  left: 1%;
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
  font-size: 27px;
  width: 99%;
}