h2 {
    text-align: left;
    position: relative;
    top: 50px;
    left: 1%;
    margin: 0px;
    font-family: Oswald, sans-serif;
    font-size: 48px;
    width: 99%;
}

.container {
    position: relative;
    left: 5%;
    margin-top: 50px;
    font-family: Oswald, sans-serif;
    font-size: 36px;
    width: 95%;
}

.pageLabel {
    display: inline-block;
}

.pageItem {
    position: relative;
    display: block;
    padding-left: 35px;
    margin-bottom: 15px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: -moz-fit-content;
    width: fit-content;
}

.pageItem input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.pageItem .checkmark {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

.pageItem:hover input ~ .checkmark {
    background-color: #ccc;
}

.pageItem input:checked ~ .checkmark {
    background-color: #2196F3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.pageItem input:checked ~ .checkmark:after {
    display: block;
}

.pageItem .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.StartBtn{
    margin: 0;
    position: absolute;
    top: 85%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #444 !important;
    text-transform: uppercase;
    background: #ffffff;
    padding: 20px;
    border: 4px solid #444 !important;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
}

.StartBtn:hover{
  color: #111 !important;
  border-radius: 50px;
  border-color: #111 !important;
  transition: all 0.3s ease 0s;
}

.wordBlock{
    top: 10%;
    left: 35%;
    position: absolute;
    text-align: justify;
    text-justify: distribute-all-lines;
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
}

.grid{
    top: 1%;
    left: 12%;
    position: absolute;
}